.adventure {
  margin: 1rem;
  &__heading {
    display: flex;
    justify-content: space-between;
  }

  &__add {
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: ;
  }

  &__card {
    height: 8rem;
    border: 2px solid navy;
    margin: 1rem 0;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
  }

  &__country {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__stay {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    z-index: -1;
  }
}
