.profile {
  &__bars {
    font-size: 2rem;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    background: navy;
  }
  &__link {
    text-decoration: none;
    color: white;
    background: rgb(0, 131, 175);
    border-top: 1px solid navy;
    padding: 0.25rem;
  }
}
