.blog {
  margin: 1rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  &__title {
  }

  &__add {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 2rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    background: rgb(0, 0, 61);
    color: white;
    font-weight: bold;
    padding: 1rem;
  }

  &__blog-title {
  }

  &__content {
    margin-top: 0.25rem;
  }
}
