.blog {
  margin: 1rem;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
  }

  &__add {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 2rem;
  }
}
