@use '../../partials/mixins.scss' as *;

.login {
  margin: 1rem;

  &__heading {
    margin-bottom: 1rem;
  }

  &__label {
    @include form-label;
  }
  &__input {
    @include form-textarea;
    height: 2rem;
  }
  &__button {
    @include form-button;
  }
}
