@mixin form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  background: rgb(0, 0, 61);
  color: white;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid rgb(0, 131, 175);
}

@mixin form-textarea {
  height: 3rem;
  max-width: 97%;
  margin-top: 0.25rem;
  border-radius: 1rem;
  padding: 0.25rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@mixin form-button {
  background: rgb(0, 131, 175);
  color: white;
  font-weight: bold;
  outline: none;
  border: 2px solid rgb(0, 0, 61);
  padding: 0.5rem;
  border-radius: 1rem;
  width: 100%;
}
