@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/MontserratAlternates-Bold.woff2") format("woff2"),
    url("../assets/fonts/MontserratAlternates-Bold.woff") format("woff"),
    url("../assets/fonts/MontserratAlternates-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/MontserratAlternates-Black.woff2") format("woff2"),
    url("../assets/fonts/MontserratAlternates-Black.woff") format("woff"),
    url("../assets/fonts/MontserratAlternates-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/MontserratAlternates-BlackItalic.woff2")
      format("woff2"),
    url("../assets/fonts/MontserratAlternates-BlackItalic.woff") format("woff"),
    url("../assets/fonts/MontserratAlternates-BlackItalic.ttf")
      format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/MontserratAlternates-Italic.woff2") format("woff2"),
    url("../assets/fonts/MontserratAlternates-Italic.woff") format("woff"),
    url("../assets/fonts/MontserratAlternates-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/MontserratAlternates-Medium.woff2") format("woff2"),
    url("../assets/fonts/MontserratAlternates-Medium.woff") format("woff"),
    url("../assets/fonts/MontserratAlternates-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/MontserratAlternates-Light.woff2") format("woff2"),
    url("../assets/fonts/MontserratAlternates-Light.woff") format("woff"),
    url("../assets/fonts/MontserratAlternates-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/MontserratAlternates-Regular.woff2") format("woff2"),
    url("../assets/fonts/MontserratAlternates-Regular.woff") format("woff"),
    url("../assets/fonts/MontserratAlternates-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/MontserratAlternates-Thin.woff2") format("woff2"),
    url("../assets/fonts/MontserratAlternates-Thin.woff") format("woff"),
    url("../assets/fonts/MontserratAlternates-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Alternates";
  src: url("../assets/fonts/MontserratAlternates-SemiBold.woff2")
      format("woff2"),
    url("../assets/fonts/MontserratAlternates-SemiBold.woff") format("woff"),
    url("../assets/fonts/MontserratAlternates-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
